.thingaha-logo {
  width: 180px;
}

.thingaha-footer-logo {
  width: 260px;
}

.thingaha-member-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.thingaha-volunteer-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.thingaha-period-subtitle {
  font-weight: bold;
  font-size: 1.2rem;
}

.thingaha-period-text {
  font-size: 1rem;
}

.thingaha-member-detail-card {
  height: 400px;
}

/* text overrides */
.text-primary {
  color: #D6B10B !important;
}

.text-secondary {
  color: #00018A !important;
}

.text-success {
  color: #5fa500 !important;
}

.text-info {
  color: #3EB8F4 !important;
}

.text-warning {
  color: #ffee25 !important;
}

.text-danger {
  color: #ff717c !important;
}

.text-light {
  color: #F9FAFD !important;
}

.text-dark {
  color: #574804 !important;
}

.text-white {
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #D6B10B;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #00018A;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #00018A !important;
}


.thingaha-sector-list {
  text-align: left !important;
}
.green-num {
  color: #D6B10B;
  font-size: 1.3em;
}

.sub-heading-color {
  color: #D6B10B;
}

#scroll-top-button {
  display: none;
  position: fixed;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 1rem;
}


/* footer */
.thingaha-copy-right {
  margin-bottom: 2rem;
}

/* font-awesome */
.class::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f007";
}

.mw-25 {
  max-width: 25vh;
}

.mw-50 {
  max-width: 50vh;
}

/* font 3times */
.font-x3 {
  font-size: 3.5rem;
}

/* font 3times and extra */
.font-x3x {
  font-size: 3.5rem;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 97%;
  z-index: 400;
}

ul.timeline>li.draw {
  margin: 30px 0;
  padding-left: 40px;
}

ul.timeline>li.draw:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #D6B10B;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.floating-nav {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 10px;
  z-index: 1000;
}

.floating-nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.floating-nav ul li {
  margin: 5px 0;
}

.floating-nav ul li a {
  text-decoration: none;
  color: #D6B10B;
}

.floating-nav ul li a:hover {
  text-decoration: underline;
}